@font-face {
  font-family: "Syncopate";
  src: url(./assets/fonts/syncopate/Syncopate-Bold.ttf);
}

:root {
  --green: rgba(0, 173, 133, 1);
  --green-trans: rgba(0, 173, 133, 0.5);
  --blue: rgba(29, 34, 42, 1);
  --dark-grey: rgba(57, 62, 70, 1);
  --dark-grey-trans: rgba(57, 62, 70, 0.75);
  --light-grey: rgba(212, 212, 212, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);

  --hover-transition: all .75s ease;
  --hover-transition-s: all .50s ease;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --shadow-l: 0 0 30px rgba(0, 0, 0, 0.5);
  --border-radius: 0.25rem;
  --border-radius-l: 0.5rem;
}

:root {
  background: var(--blue) url('./assets/bg.webp') repeat;
}

:root,
a {
  color: var(--light-grey);
}

:root::-webkit-scrollbar-track {
  -webkit-box-shadow: var(--shadow);
  border-radius: var(--border-radius-l);
  background-color: none;
}

:root::-webkit-scrollbar {
  width: 0.5rem;
  background-color: none;
}

:root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: var(--shadow-l);
  background-color: var(--green);
}

.hidden {
  display: none !important;
}

button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: var(--dark-grey);
  padding: 0.75rem 1.25rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--shadow);
}

button p {
  color: var(--white);
}

button svg {
  width: 1.25rem;
  height: 1.25rem;
  stroke: var(--white);
  fill: var(--white);
  color: var(--white);
}

button:hover {
  background: var(--green-trans);
  transition: var(--hover-transition);
  box-shadow: none;
}

h2,
h2 span {
  color: var(--white);
  font-family: "Syncopate", serif;
  text-transform: uppercase;
  text-align: center;
  padding: 8rem 0 2em 0;
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

h4 {
  font-size: 1.1rem;
  color: var(--green);
  text-transform: uppercase;
  font-family: "Syncopate", serif;
}

span {
  color: var(--green) !important;
  font-weight: 600;
}